.datepicker-wrap {
    position: relative
}

.datepicker {
    position: absolute;
    top: 100%;
    left: initial;
    z-index: 2000;
    display: none;
    float: left;
    padding: 15px 15px;
    margin-top: 2px;
    font-size: 14px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.175);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.datepicker:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    position: absolute;
    width:0;
    height:0;
    top: -5px;
}

.datepicker.left:after{
    left: 7px;
    right: initial;
}
.datepicker.right:after {
    right: 7px;
    left: initial;
}

.datepicker .datepicker-header {
    height: 30px;
    line-height: 30px
}

.datepicker .datepicker-header::after {
    content: "";
    display: table;
    clear: both
}

.datepicker .month-wrap, .datepicker .year-wrap {
    position: relative;
    margin: 0;
    padding: 0;
    text-align: center
}

.datepicker .month-wrap {
    float: left;
    width: 60%
}

.datepicker .month-wrap select {
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px
}

.datepicker .year-wrap {
    float: right;
    width: 40%
}

.datepicker .year-wrap .year-input {
    width: 36px;
    line-height: 1;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    text-align: center
}

.datepicker .year-wrap .year-input:focus {
    outline-color: #5080d8
}

.datepicker .month-name, .datepicker .year-name {
    font-weight: bold;
    vertical-align: middle;
    cursor: pointer
}

.datepicker .button {
    position: absolute;
    top: 0;
    width: 30px;
    height: 30px;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 4px
}

.datepicker .button:hover, .datepicker .button.hover {
    background: #eceeef;
    border-color: #ccc
}

.datepicker .prev {
    left: 0
}

.datepicker .next {
    right: 0
}

.datepicker table {
    margin: 5px auto;
    min-width: 245px
}

.datepicker th, .datepicker td {
    width: 35px;
    height: 35px;
    text-align: center;
    transition: all 0.2s ease-in-out
}

.datepicker th.week_label {
    font-weight: normal;
    width: 25px
}

.datepicker td {
    border-radius: 50%
}

.datepicker td.unselected_month {
    color: #AAA;
    background-color: #FFF
}

.datepicker td.today {
    font-weight: bold;
    color: #5080d8
}

.datepicker td.selectable_day {
    cursor: pointer
}

.datepicker td.selectable_day.hover {
    color: #FFF;
    background: rgba(80, 128, 216, 0.65)
}

.datepicker td.selected {
    font-weight: bold;
    color: #FFF;
    background: rgba(80, 128, 216, 0.9)
}

.datepicker tr.selectable_week td {
    font-weight: normal;
    transition-duration: 0s;
    border-radius: 0
}

.datepicker tr.selectable_week:hover td, .datepicker tr.selectable_week.selected td {
    color: #FFF;
    background: rgba(80, 128, 216, 0.65)
}

.datepicker tr.selectable_week:hover .week_num, .datepicker tr.selectable_week.selected .week_num {
    font-weight: bold;
    background: rgba(80, 128, 216, 0.9)
}

.datepicker tr.selectable_week:hover {
    opacity: .6
}

.datepicker .date-time {
    padding: 10px 0 0 5px;
    line-height: 25px;
    border-top: 1px solid rgba(0, 0, 0, 0.15)
}

.datepicker .date-time::after {
    content: "";
    display: table;
    clear: both
}

.datepicker .date-time .time_item {
    float: left;
    text-align: center;
    margin-right: 10px
}

.datepicker .date-time .time_item span {
    display: inline-block;
    border: 1px solid #CCC;
    width: 30px;
    cursor: pointer;
    border-radius: 4px
}

.datepicker .date-time .time_item span.on {
    border-color: #09C09C;
    background: #C4ECFF
}

.datepicker .date-time .til {
    text-align: left;
    float: left;
    width: 45px
}

.datepicker .date-time .select_item {
    display: none;
    position: absolute;
    top: 45px;
    left: 15px;
    right: 15px;
    bottom: 90px;
    padding: 9px;
    background: #C4ECFF;
    border: 1px solid #09C;
    border-radius: 4px
}

.datepicker .date-time .select_item span {
    float: left;
    line-height: 25px;
    text-align: center;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    transition: all 0.2s ease-in-out
}

.datepicker .date-time .select_item span:hover, .datepicker .date-time .select_item span.selected {
    color: #FFF;
    cursor: pointer
}

.datepicker .date-time .select_item span.selected {
    background-color: #5080d8
}

.datepicker .date-time .select_item span:hover {
    background-color: rgba(80, 128, 216, 0.65)
}

.datepicker .curr_time {
    padding-top: 10px;
    text-align: center;
    white-space: normal
}

.datepicker .curr_time::after {
    content: "";
    display: table;
    clear: both
}

.datepicker .data_ui_btn {
    width: 30%;
    line-height: 30px;
    border: none;
    color: #FFF;
    background-color: rgba(80, 128, 216, 0.8);
    border-radius: 4px;
    transition: all 0.2s ease-in-out
}

.datepicker .data_ui_btn:hover {
    background-color: #5080d8
}

.datepicker .data_ui_btn_now {
    float: left
}

.datepicker .data_ui_btn_close {
    float: right
}

.date_clearer {
    color: #a00;
    padding-left: 3px;
    cursor: pointer;
    font-weight: bold;
    font-family: sans-serif
}

.datepicker-ieframe {
    position: absolute;
    z-index: 1000;
    display: none
}

.error_msg {
    display: none;
    text-align: center;
    font-size: 0.8em;
    color: #666
}

.input-group .datepicker-wrap:last-child .form-control { /*fix bug in bootstrap*/
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
